.container{
    border: 8px whitesmoke solid;
    height: 50em;
    width: 50%;
    margin: 25px auto;
    border-radius: 8px;
}
input{
    height: 25px;
    width: 250px;
    margin: 45px 290px 0px 290px;
}